@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.class1{
    font-family: 'Rokkitt';
    font-size: 130%;
    font-weight: bold; 
    color :#FF96AF;
}
.class2{
    font-family: 'Rokkitt'; 
    font-size: 130%; 
    font-weight: bold;
    color :#3F3F3F;
}
.class3{
    font-family: 'Rokkitt'; 
    color :#8798A5;
}
.class4{
    font-family: 'MapoFlowerIsland';
    font-size: 140%;
    color: #3F3F3F;
}
.class5{
        width: 200px;
        height: 200px; 
        border: 0;
}
.class6{
    width: 300px;
    height: 300px; 
    border: 0;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }